<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supersloth.dailydiet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />
    <uses-feature android:name=""/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--  Splash Screen -->
        <activity
            android:name="com.supersloth.dailydiet.activities.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <!-- MainActivity -->
        <activity
            android:name="com.supersloth.dailydiet.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.supersloth.dailydiet.activities.FavoriteDishActivity"
            android:label="@string/favoriteDishes"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.supersloth.dailydiet.activities.GroceryListActivity"
            android:label="@string/groceryList"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.supersloth.dailydiet.activities.HungryActivity"
            android:label="@string/imHungry"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.supersloth.dailydiet.activities.ProfileActivity"
            android:label="@string/yourProfile"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.supersloth.dailydiet.test.TestActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.supersloth.dailydiet.activities.PictureActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.supersloth.dailydiet.activities.InsertMealsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>
